.top{
	width: 300px;
}
.one{
	background-color: #63a7d6;
	font-size: 18px;
	color: white;
	font-weight: bold;
	line-height: 25px;
	 text-indent: 1em; /* 向内缩进1个字符 */
}
.two{
	background-color: #e4f1fa;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	 text-indent: 1em; /* 向内缩进1个字符 */
				
}
ul{
	list-style-type: none;
	padding: 20px;
}
 ul li {
	    display: inline-block;
        width: 30%;
        margin-bottom: 10px;
		color: #666666;
 }
a {
    text-decoration: none; /* 去掉下划线 */
    color: #0565c6; /* 设置链接颜色 */
}
