 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }
        .container {
            width: 80%;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
            color: cadetblue;
        }
        h3 {	
		    font-family: "KaiTi", "楷体", "楷体_GB2312", serif;

            text-align: center;
            color: cadetblue;
            font-weight: normal;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }
        p {
            text-indent: 2em;
			color: cadetblue;
        }
		li{
			color: cadetblue;
		}
		
        .highlight {
            color: red;
            font-weight: bold;
        }
        .time-red {
            color: red;
        }
        .content {
            display: flex;
            align-items: flex-start;
            margin-top: 20px;
        }
        .image-container {
            flex: 1;
        }
        .image-container img {
            width: 100%;
            max-width: 600px; 
            height: auto;
        }
        .text-container {
            flex: 2;
            padding-left: 20px; 
        }
        .text-container ul {
            list-style-type: none;
        }
        .text-container ul li {
            padding: 8px 0;
        }
        .text-container ul li span {
            font-weight: bold;
			
        }
        .footer {
            text-align: right;
            margin-top: 20px;
        }
		